<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout :: page_head(${pageTitle})}"></head>
	<body>
		<div style="position: relative; min-height: 100vh; padding-bottom: 70px;">
			<div th:replace="~{layout :: menu}"></div>
			<div class="container-fluid">
				<!-- <div> -->
				<h2 class="py-1">Manage Users | [[${pageTitle}]]</h2>
				<!-- </div> -->
				<form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto;" th:object="${user}"
					  onsubmit="return checkEmailUnique(this)" enctype="multipart/form-data">
					<input type="hidden" th:field="*{id}">
					<div class="border border-secondary rounded p-4">
						<div class="row mb-3">
							<label for="email" class="col-sm-3 col-form-label">Email:</label>
							<div class="col-sm-9">
								<input type="email" class="form-control border border-dark-subtle" th:field="*{email}" minlength="8"
									   maxlength="128" required autofocus>
							</div>
						</div>
						<div class="row mb-3">
							<label for="firstName" class="col-sm-3 col-form-label">First Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control border border-dark-subtle" th:field="*{firstName}" minlength="2"
									   maxlength="128" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="lastName" class="col-sm-3 col-form-label">Last Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control border border-dark-subtle" th:field="*{lastName}" minlength="2"
									   maxlength="45" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="password" class="col-sm-3 col-form-label">Password:</label>
							<div class="col-sm-9">
								<input type="password" th:if="${user.id == null}" class="form-control border border-dark-subtle"
									   th:field="*{password}" minlength="8" maxlength="20" required>
								<input type="password" th:if="${user.id != null}" class="form-control border border-dark-subtle"
									   th:field="*{password}" minlength="8" maxlength="20"
									   placeholder="Leave password field blank if you don't want to change password">
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-3 col-form-label">Roles:</label>
							<div class="col-sm-9">
								<th:block th:each="role : ${listRoles}">
									<!-- <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="form-check-input border border-primary m-2"> 
									- <small>[[${role.description}]]</small>
								<br> -->
									<div class="form-check">
										<input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:id="${role.name}"
											   class="form-check-input border border-primary">
										<label th:attr="for=${role.name}">
											[[${role.name}]] -
											<small>[[${role.description}]]</small>
										</label>
									</div>
								</th:block>
							</div>
						</div>

						<div class="row mb-3">
							<label for="enabled1" class="col-sm-3 col-form-label">Enabled:</label>
							<div class="col-sm-9">
								<div class="form-check">
									<input type="checkbox" th:field="*{enabled}" class="form-check-input border border-primary">
								</div>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-3 col-form-label">Photos:</label>
							<div class="col-sm-9">
								<input type="hidden" th:field="*{photos}">
								<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="form-control mb-3">
								<img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}" class="img-fluid img-thumbnail"
									 width="150">
							</div>
						</div>

						<div class="text-center">
							<input type="submit" value="Save" class="btn btn-primary m-3">
							<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
						</div>
					</div>
				</form>
			</div>
			<div th:replace="~{modal_fragments :: modal_dialog}"></div>
			<div th:replace="~{layout :: footer}"></div>
		</div>
	<th:block th:replace="~{layout :: scripts}"></th:block>
	<script type="text/javascript">
		moduleUrl = "[[@{/users}]]";

		function checkEmailUnique(form) {

			const url = "[[@{/users/check-email}]]";
			const userEmail = $('#email').val();
			const userId = $('#id').val();
			const csrfVal = $('input[name="_csrf"]').val();

			const params = {
				id: userId,
				email: userEmail,
				_csrf: csrfVal
			}; // specify the key/param name

			$.post(url, params, function (response) {
				if (response === "OK") {
					form.submit();
				} else if (response === "Duplicated") {
					showModalDialog("Warning", "There is another user having the email " + userEmail);
				} else {
					showModalDialog("Error", "Unknown response from server");
				}
			}).fail(function () {
				showModalDialog("Error", "Could not connect to the server");
			});

			return false;
		}

		function showModalDialog(title, message) {
			$('#modalTitle').text(title);
			$('#modalBody').text(message);

			$('#modalDialog').modal('show');
		}
    </script>
    <script th:src="@{/js/common_form.js}"></script>
</body>
</html>