@charset "UTF-8";

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  box-shadow: none !important;
  border: 1.4px solid #0d6efd !important;
}

*.icon-white {
	color: white;
}

*.icon-blue {
	color: blue;
}

*.icon-silver {
	color: silver;
}

*.icon-green {
	color: green;
}

*.icon-gray {
	color: gray;
}

a.my-menu:hover {
	color: blue;
	text-decoration: underline;
}

/* small screen */
@media screen and (max-width: 768px) {
	div.full-details {
		display: none;
	}
	div.less-details {
		display: block;
	}
}

/* medium screen */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	div.full-details {
		display: block;
	}
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: none;
	}
}

/* large screen */
@media screen and (min-width: 1024px) {
	div.less-details {
		display: none;
	}
	
	.hideable-column {
		display: table-cell;
	}
}