<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout :: page_head('404 - Shopme Admin')}" />
<body>
	<div style="position: relative; min-height: 100vh; min-height: 100dvh; min-height: 100svh; min-height: 100lvh;">
		<div th:replace="~{layout :: menu}"></div>
		<div class="container-fluid">
			<h1>Sorry, the requested page could not be found.</h1>
			<p>
				<strong>Status Code:</strong>
				<span th:text="${status}"></span>
			</p>
			<p>
				<strong>Error Message:</strong>
				<span th:text="${error}"></span>
			</p>
			<p>
				<strong>Timestamp:</strong>
				<span th:text="${timestamp}"></span>
			</p>
			<p>
				<strong>Path:</strong>
				<span th:text="${path}"></span>
			</p>
		</div>
		<div th:replace="~{layout :: footer}"></div>
	</div>
	<th:block th:replace="~{layout :: scripts}"></th:block>
</body>
</html>