<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head data-th-replace="~{layout :: page_head('500 - Shopme Admin')}" />
<body>
	<div style="position: relative; min-height: 100vh; min-height: 100dvh; min-height: 100svh; min-height: 100lvh;">
		<div data-th-replace="~{layout :: menu}"></div>
		<div class="container-fluid">
			<h1 class="display-1" data-th-text="${status}"></h1>
			<h3>Sorry, the server has encountered an error while processing your request.</h3>
			<!-- <p>
				<strong>Error Message:</strong>
				<span data-th-text="${error}"></span>
			</p> -->
		</div>
		<div data-th-replace="~{layout :: footer}"></div>
	</div>
	<th:block data-th-replace="~{layout :: scripts}"></th:block>
</body>
</html>