<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>

	<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<a class="text-bg-dark"
		   th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
			[[${columnLabel}]]</a>
		<i th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill'}"></i>
	</th>

	<a th:fragment="page_link(pageNum, label)" class="page-link"
	   th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} +  '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

	<div th:fragment="category_status" th:remove="tag">
		<a th:if="${cat.enabled == true}" class="bi bi-check-circle-fill h4 icon-green"
		   th:href="@{'/categories/' + ${cat.id} + '/enabled/false'}" title="Click to disable category"></a>
		<a th:if="${cat.enabled == false}" class="bi bi-check-circle-fill h4 icon-gray"
		   th:href="@{'/categories/' + ${cat.id} + '/enabled/true'}" title="Click to enable category"></a>
	</div>

	<div th:fragment="category_actions" th:remove="tag">
		<a class="bi bi-pencil-square h4 icon-green" th:href="@{'/categories/edit/' + ${cat.id}}"
		   title="Edit this category"></a>

		<th:block th:if="${cat.hasChildren == false}">
			<a class="bi bi-trash h4 icon-gray link-delete" th:href="@{'/categories/delete/' + ${cat.id}}"
			   th:entityId="${cat.id}" title="Delete this category"></a>
		</th:block>
	</div>
</body>
</html>