<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>Home - Shopme Admin</title>

<!--<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/boostrap.min.css}">
</head>

<body>

	<div class="container-fluid">
		<div>
			<h1>Shopme Control Panel</h1>
		</div>
		<div>
			<p></p>
		</div>
	</div>
	<script type="text/javascript" th:src="@{jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{bootstrap/js/boostrap.min.js}"></script>
	
</body>

</html>