<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div th:fragment="modal_dialog" class="modal fade" tabindex="-1" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div th:fragment="confirm_modal" class="modal fade" tabindex="-1" id="confirmModal">
			<div class="modal-dialog modal-fullscreen-sm-down">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle">Delete Confirmation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<span id="confirmText">Are you sure you want to delete category with ID </span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesBtn">Yes</a>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
