<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Home - Shopme Admin</title>
<!--<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" th:href="@{/modules/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<div class="container-fluid" style="position: relative; min-height: 100vh; padding-bottom: 70px;">
		<div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}">
						<img th:src="@{/images/ShopmeAdminSmall.png}">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
						aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarsExample04">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" th:href="@{/users}">Users </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/categories}">Categories </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/brands}">Brands </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/products}">Products </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/customers}">Customers </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/shipping}">Shipping </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/orders}">Orders </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/report}">Sales Reports </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/articles}">Articles </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/menus}">Menus </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" th:href="@{/settings}">Settings </a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="#">Action</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Another action</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>
							</li>
						</ul>
						<form role="search">
							<input class="form-control" type="search" placeholder="Search" aria-label="Search">
						</form>
					</div>
				</div>
			</nav>
		</div>
		<div>
			<h2>Manage Users | [[${pageTitle}]]</h2>
		</div>
		<form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto;" th:object="${user}"
			onsubmit="return checkEmailUnique(this)" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}">
			<div class="border border-secondary rounded p-4">
				<div class="row mb-3">
					<label for="email" class="col-sm-3 col-form-label">Email:</label>
					<div class="col-sm-9">
						<input type="email" class="form-control border border-dark-subtle" th:field="*{email}" minlength="8"
							maxlength="128" required autofocus>
					</div>
				</div>
				<div class="row mb-3">
					<label for="firstName" class="col-sm-3 col-form-label">First Name:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control border border-dark-subtle" th:field="*{firstName}" minlength="2"
							maxlength="128" required>
					</div>
				</div>
				<div class="row mb-3">
					<label for="lastName" class="col-sm-3 col-form-label">Last Name:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control border border-dark-subtle" th:field="*{lastName}" minlength="2"
							maxlength="45" required>
					</div>
				</div>
				<div class="row mb-3">
					<label for="password" class="col-sm-3 col-form-label">Password:</label>
					<div class="col-sm-9">
						<input type="password" th:if="${user.id == null}" class="form-control border border-dark-subtle"
							th:field="*{password}" minlength="8" maxlength="20" required>
						<input type="password" th:if="${user.id != null}" class="form-control border border-dark-subtle"
							th:field="*{password}" minlength="8" maxlength="20"
							placeholder="Leave password field blank if you don't want to change password">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-3 col-form-label">Roles:</label>
					<div class="col-sm-9">
						<th:block th:each="role : ${listRoles}">
							<!-- <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="form-check-input border border-primary m-2"> 
								- <small>[[${role.description}]]</small>
							<br> -->
							<div class="form-check">
								<input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:id="${role.name}"
									class="form-check-input border border-primary">
								<label th:attr="for=${role.name}">
									[[${role.name}]] -
									<small>[[${role.description}]]</small>
								</label>
							</div>
						</th:block>
					</div>
				</div>

				<div class="row mb-3">
					<label for="enabled1" class="col-sm-3 col-form-label">Enabled:</label>
					<div class="col-sm-9">
						<div class="form-check">
							<input type="checkbox" th:field="*{enabled}" class="form-check-input border border-primary">
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-3 col-form-label">Photos:</label>
					<div class="col-sm-9">
						<input type="hidden" th:field="*{photos}">
						<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2">
						<img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}" class="img-fluid img-thumbnail"
							width="150">
					</div>
				</div>

				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3">
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
				</div>
			</div>
		</form>

		<div class="modal fade" tabindex="-1" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center" style="position: absolute; bottom: 0; width: 98%">
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/modules/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/modules/bootstrap/js/bootstrap.bundle.js}"></script>
	<script type="text/javascript">
        $(document).ready(function () {
            $('#buttonCancel').on('click', function () {
                window.location = "[[@{/users}]]"
            });

            $('#fileImage').change(function () {
                var file = this.files[0];
                fileSize = file.size;

                // alert("File size: " + fileSize);

                if (file) {
                    var allowedTypes = [ 'image/jpeg', 'image/png' ];

                    if (fileSize > 1048576) {

                        this.setCustomValidity("You must choose an image less than 1MB!");
                        this.reportValidity();
                        this.value = '';
                    } else if (!allowedTypes.includes(file.type)) {

                        this.setCustomValidity('Invalid file type. Please select a JPEG, or PNG image.');
                        this.reportValidity();
                        // showModalDialog('Warning', 'Invalid file type. Please select a JPEG, or PNG image.');
                        this.value = '';
                    } else {
                        this.setCustomValidity("");
                        showImageThumbnail(this);
                    }
                }
            });
        });

        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) { // Assigns a function to execute when the file has been successfully read
                $("#thumbnail").attr('src', e.target.result); // e.target.result contains the result of the file read operation
            }
            reader.readAsDataURL(file);
        }

        function checkEmailUnique(form) {

            url = "[[@{/users/check-email}]]";
            userEmail = $('#email').val();
            userId = $('#id').val();
            csrfVal = $('input[name="_csrf"]').val();

            params = {
                id : userId,
                email : userEmail,
                _csrf : csrfVal
            }; // specify the key/param name

            $.post(url, params, function (response) {
                if (response === "OK") {
                    form.submit();
                } else if (response === "Duplicated") {
                    showModalDialog("Warning", "There is another user having the email " + userEmail);
                } else {
                    showModalDialog("Error", "Unknown response from server");
                }
            }).fail(function () {
                showModalDialog("Error", "Could not connect to the server");
            });

            return false;
        }

        function showModalDialog(title, message) {
            $('#modalTitle').text(title);
            $('#modalBody').text(message);

            $('#modalDialog').modal('show');
        }
    </script>
</body>
</html>